<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logDir" value="logs" />

  <targets>
    <target xsi:type="Console" name="console"
        layout="${longdate}|${level:uppercase=true}|TraceID:${event-properties:traceId}|${logger}|${message} ${exception:format=toString,Data:maxInnerExceptionLevel=5}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

    <target xsi:type="File" name="file"
            fileName="${logDir}/app-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|TraceID:${event-properties:traceId}|${logger}|${message} ${exception:format=toString,Data:maxInnerExceptionLevel=5}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

    <target xsi:type="File" name="errorFile"
            fileName="${logDir}/errors-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|TraceID:${event-properties:traceId}|${logger}|${message} ${exception:format=toString,Data:maxInnerExceptionLevel=5}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console, file" />
    <logger name="*" minlevel="Error" writeTo="errorFile" />
  </rules>

</nlog>
